*.sass-cache*
.DS_Store
.livereload

*/config/development
*application/config/config.php
*application/config/email.php
*/config/database.php
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
